<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GameDockApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameDock">
        <activity
            android:name=".ui.home.EpicLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.EpicProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.SteamProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.SteamLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CustomClaimActivity"
            android:exported="false"
            android:theme="@style/Theme.GameDock" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GameDock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
